extends ../base

block content
  section.py-32(class='sm:pt-40 md:pt-48 lg:pt-56')
    .mx-auto.px-4(class='sm:px-12 xl:max-w-5xl xl:px-0')
      .relative.z-10.text-center(class='md:mx-auto md:w-5/6 lg:w-4/6')
        h1.relative.text-center.text-4xl.font-bold.text-gray-900(class='dark:text-white sm:text-5xl md:text-6xl')
          | Welcome to 
          span.opacity-80 Urban Insight
        p.mt-6.text-gray-700(class='dark:text-gray-300') 
          | Join our community of real estate investors and gain access to powerful tools that will help you boost your portfolio!
      .mt-12.grid.gap-12(class='sm:mx-auto sm:max-w-lg lg:max-w-full lg:grid-cols-2')
        .relative
          form.form--login.relative.rounded-3xl.border.border-gray-100.bg-white.p-8.shadow-2xl(action='' class='shadow-gray-600/10 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none sm:p-12')
            .absolute.inset-0.hidden.scale-105.rounded-3xl.bg-gradient-to-b.from-transparent(class='dark:block dark:to-gray-900/80')
            .relative
              h2.text-2xl.font-bold.text-gray-800(class='dark:text-white') Create an Account
              .mt-8.mb-6.space-y-4
                div.form__group
                  label.mb-2.block.text-gray-600(for="first-name" class='dark:text-gray-300')
                    | First Name
                    span.text-xl.text-red-500(class='dark:text-red-400') *
                  input#first-name.peer.block.w-full.rounded-lg.border.border-gray-200.bg-transparent.px-4.py-2.text-gray-600.transition-shadow.duration-300(type='text' name='first-name' class='invalid:ring-2 invalid:ring-red-400 focus:ring-2 dark:border-gray-700' required)
                  span.mt-1.hidden.text-sm.text-red-500(class='peer-invalid:block') Helper
                div.form__group
                  label.mb-2.block.text-gray-600(for="last-name" class='dark:text-gray-300')
                    | Last Name
                    span.text-xl.text-red-500(class='dark:text-red-400') *
                  input#last-name.peer.block.w-full.rounded-lg.border.border-gray-200.bg-transparent.px-4.py-2.text-gray-600.transition-shadow.duration-300(type='text' name='last-name' class='invalid:ring-2 invalid:ring-red-400 focus:ring-2 dark:border-gray-700' required)
                  span.mt-1.hidden.text-sm.text-red-500(class='peer-invalid:block') Helper
                div.form__group
                  label.mb-2.block.text-gray-600(for="user-name" class='dark:text-gray-300')
                    | User Name
                    span.text-xl.text-red-500(class='dark:text-red-400') *
                  input#user-name.peer.block.w-full.rounded-lg.border.border-gray-200.bg-transparent.px-4.py-2.text-gray-600.transition-shadow.duration-300(type='text' name='user-name' class='invalid:ring-2 invalid:ring-red-400 focus:ring-2 dark:border-gray-700' required)
                  span.mt-1.hidden.text-sm.text-red-500(class='peer-invalid:block') Helper
                div.form__group
                  label.mb-2.block.text-gray-600(for="email" class='dark:text-gray-300')
                    | Email
                    span.text-xl.text-red-500(class='dark:text-red-400') *
                  input#email.peer.block.w-full.rounded-lg.border.border-gray-200.bg-transparent.px-4.py-2.text-gray-600.transition-shadow.duration-300(type='email' name='email' autocomplete='email' class='invalid:ring-2 invalid:ring-red-400 focus:ring-2 dark:border-gray-700' required)
                  span.mt-1.hidden.text-sm.text-red-500(class='peer-invalid:block') Helper
                div.form__group
                  label.mb-2.block.text-gray-600(for='password' class='dark:text-gray-300')
                    | Password 
                    span.text-xl.text-red-500(class='dark:text-red-400') *
                  input#password.peer.block.w-full.rounded-lg.border.border-gray-200.bg-transparent.px-4.py-2.text-gray-600.transition-shadow.duration-300(type='password' name='password' class='invalid:ring-2 invalid:ring-red-400 focus:ring-2 dark:border-gray-700' required)
                  span.mt-1.hidden.text-sm.text-red-500(class='peer-invalid:block') Invalid
                div.form__group
                  label.mb-2.block.text-gray-600(for='password' class='dark:text-gray-300')
                    | Confirm Password 
                    span.text-xl.text-red-500(class='dark:text-red-400') *
                  input#confirm-password.peer.block.w-full.rounded-lg.border.border-gray-200.bg-transparent.px-4.py-2.text-gray-600.transition-shadow.duration-300(type='password' name='confirm-password' class='invalid:ring-2 invalid:ring-red-400 focus:ring-2 dark:border-gray-700' required)
                  span.mt-1.hidden.text-sm.text-red-500(class='peer-invalid:block') Invalid
                div.form__group.flex.items-start
                  .flex.items-center.h-5
                    input#newsletter.w-4.h-4.border.border-gray-100.rounded.bg-transparent(aria-describedby='newsletter' type='checkbox' class='focus:ring-3 focus:ring-primary dark:border-gray-700 dark:focus:ring-primaryLight dark:ring-offset-gray-800' required='')
                  .ml-3.text-sm
                    label.font-light.text-gray-500(for='newsletter' class='dark:text-gray-300')
                      | I accept the 
                      a.font-medium.text-primary(class='hover:underline dark:text-primaryLight' href='#') Terms and Conditions
              button.relative.ml-auto.flex.h-11.w-max.items-center.justify-center.px-6(type='submit' class='before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition-transform before:duration-300 active:duration-75 active:before:scale-95 dark:before:bg-primaryLight')
                span.relative.text-base.font-semibold.text-white(class='dark:text-gray-900') Login
              .text-sm.font-md.text-gray-600(class='dark:text-gray-300')
                | Already have an account? 
                a.font-medium.ml-auto.text-primary(class='hover:underline dark:text-primaryLight' href='/login') Login here
        div
          .relative.rounded-3xl.border.border-gray-100.bg-white.p-8.shadow-2xl(class='shadow-gray-600/10 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none lg:px-12')
            .absolute.inset-0.hidden.scale-105.rounded-3xl.bg-gradient-to-b.from-transparent(class='dark:block dark:to-gray-900/80')
            .relative
              //- img.h-12.w-auto(class='dark:contrast-100 dark:grayscale dark:invert' src='./../images/clients/microsoft.svg' alt='microsoft' width='' height='')
              p.mt-2.mb-8.text-gray-600(class='dark:text-gray-300')
                | It always seems impossible until it's done.
              .flex.gap-4
                //- img.h-12.w-12.rounded-full(src='./../images/avatars/avatar-2.webp' alt='user avatar' width='200' height='200' loading='lazy')
                div
                  h2.leading-0.text-lg.font-medium.text-gray-700(class='dark:text-white') Nelson Mandela
                  //- p.leading-0.text-sm.text-gray-500(class='-mt-0.5 dark:text-gray-400') Backend dev


  //- section.body-font.relative
    .absolute.inset-0.grid.grid-cols-2.-space-x-52.opacity-40
      .h-56.bg-gradient-to-br.from-primary.to-purple-400(class="blur-[106px]")
      .h-32.bg-gradient-to-r.from-cyan-400.to-sky-300(class="blur-[106px]")
  //- .container.px-5.py-24.mx-auto.flex.flex-wrap.items-center.min-h-screen.justify-center
    .pr-0(class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0")
      h1.title-font.font-medium.text-3xl.max-w-2-3.text-center Welcome to Urban Insight
      p.leading-relaxed.my-4.max-w-2-3.text-center Join our community of real estate investors and gain access to powerful tools that will help you boost your portfolio!
    .group.p-6.mt-4.w-full.rounded-3xl.bg-white.border.border-gray-100.bg-opacity-50.shadow-2xl(
      class="sm:mt-0 sm:p-8 md:w-1/2 shadow-gray-600/10"
    )
      h2.text-2xl.font-semibold.text-gray-800 Sign Up
      .relative.mb-4
        form.form--sign-up
          .form__group.relative.mb-4
            label.form__label.leading-7.text-sm.mt-6.mb-8.text-gray-600(
              for="first-name"
            ) First Name
            input#first-name.form__input.w-full.bg-white.rounded.border.border-gray-300.text-base.outline-none.py-1.px-3.leading-8.transition-colors.duration-200.ease-in-out(
              type="text",
              placeholder="First Name",
              required
            )
          .form__group.relative.mb-4
            label.form__label.leading-7.text-sm.mt-6.mb-8.text-gray-600(
              for="last-name"
            ) Last Name
            input#last-name.form__input.w-full.bg-white.rounded.border.border-gray-300.text-base.outline-none.py-1.px-3.leading-8.transition-colors.duration-200.ease-in-out(
              type="text",
              placeholder="Last Name",
              required
            )
          .form__group.relative.mb-4
            label.form__label.leading-7.text-sm.mt-6.mb-8.text-gray-600(
              for="email"
            ) Email
            input#email.form__input.w-full.bg-white.rounded.border.border-gray-300.text-base.outline-none.py-1.px-3.leading-8.transition-colors.duration-200.ease-in-out(
              type="text",
              placeholder="Email",
              required
            )
          .form__group.relative.mb-4
            label.form__label.leading-7.text-sm.mt-6.mb-8.text-gray-600(
              for="password"
            ) Password
            input#password.form__input.w-full.bg-white.rounded.border.border-gray-300.text-base.outline-none.py-1.px-3.leading-8.transition-colors.duration-200.ease-in-out(
              type="password",
              placeholder="Password",
              required
            )
          .form__group.relative.mb-4
            label.form__label.leading-7.text-sm.mt-6.mb-8.text-gray-600(
              for="password"
            ) Password
            input#passwordConfirmed.form__input.w-full.bg-white.rounded.border.border-gray-300.text-base.outline-none.py-1.px-3.leading-8.transition-colors.duration-200.ease-in-out(
              type="password",
              placeholder="Password",
              required
            )
          .form__group.relative.mb-4
            button.relative.flex.h-11.w-full.items-center.justify-center.px-6(
              class="before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95"
            ) 
              span.relative.text-base.font-semibold.text-white Register
