doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(
      name="description",
      content="Calculate ROI on potential properties with Urban Insight Inc."
    )
    meta(
      name="keywords",
      content="ROI calculation, real estate, property investment, SaaS"
    )
    meta(name="author", content="Urban Insight Inc.")
    meta(
      property="og:title",
      content="Urban Insight Inc. - Calculate ROI on Potential Properties"
    )
    meta(
      property="og:description",
      content="Calculate ROI on potential properties with Urban Insight Inc."
    )
    meta(
      property="og:image",
      content="https://www.urbaninsightinc.com/images/urban-insight.png"
    )
    meta(property="og:url", content="https://www.urbaninsightinc.com")
    meta(property="og:type", content="website")
    meta(name="twitter:card", content="summary_large_image")
    meta(
      name="twitter:title",
      content="Urban Insight Inc. - Calculate ROI on Potential Properties"
    )
    meta(
      name="twitter:description",
      content="Calculate ROI on potential properties with Urban Insight Inc."
    )
    meta(
      name="twitter:image",
      content="https://www.urbaninsightinc.com/images/urban-insight.png"
    )
    meta(name="twitter:site", content="@urbaninsight")
    meta(name="twitter:creator", content="@yourusername")
    link(
      rel="shortcut icon",
      href="/img/favicon/favicon.ico",
      type="image/x-icon"
    )
    link(
      rel="stylesheet",
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,700,900"
    )
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css",
      rel="stylesheet"
    )
    link(rel="stylesheet", href="/css/style.css")
    title Urban Insight Inc. | #{ title }

  body.min-h-screen.bg-white(class="selection:bg-primary/10 selection:text-primary dark:bg-gray-900")

    #overlay.hidden.z-50.fixed.inset-0.flex.items-center.justify-center.bg-black.bg-opacity-50
      .status
        svg.inline.w-8.h-8.text-white.animate-spin.fill-blue-600(aria-hidden=true class="dark:text-gray-600 dark:fill-blue-300" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor")
          path(d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill")
        span.sr-only Loading ...

    #cookie-banner.max-w-screen-xl.bg-white.inset-x-5.p-5.z-50.mx-auto.fixed.bottom-0.rounded-lg.drop-shadow-2xl.flex.gap-4.flex-wrap.text-center.items-center.justify-center(class="dark:bg-slate-900 dark:text-gray-300 md:flex-nowrap md:text-left md:justify-between" x-show='open' x-transition:enter-start='opacity-0 scale-90' x-transition:enter='transition duration-200 transform ease' x-transition:leave='transition duration-200 transform ease' x-transition:leave-end='opacity-0 scale-90')
      .w-full
        | This website uses cookies to ensure you get the best experience on our website. 
        a.text-gray-600.whitespace-nowrap(href='#' class="dark:text-gray-300 dark:fill-blue-300 hover:underline") Learn more
      .flex.gap-4.items-center.flex-shrink-0
        button#decline-cookies.text-gray-600(class="dark:text-gray-300 focus:outline-none hover:underline") Decline
        button#accept-cookies.px-5.py-2.text-white.rounded-md.bg-gradient-to-tl.from-blue-500.to-violet-500(class="focus:outline-none") Allow Cookies
        
    main
      // HEADER
      include _header

      // CONTENT
      block content
        h1 This is a placeholder heading

      // FOOTER
      include _footer

    script(src="/js/bundle.js")
