extends ../base

block content
  section.body-font.relative
    .absolute.inset-0.grid.grid-cols-2.-space-x-52.opacity-40
      .h-56.bg-gradient-to-br.from-primary.to-purple-400(class="blur-[106px]")
      .h-32.bg-gradient-to-r.from-cyan-400.to-sky-300(class="blur-[106px]")
  .container.px-5.py-24.mx-auto.flex.flex-wrap.items-center.min-h-screen.justify-center
    .pr-0(class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0")
      h1.title-font.font-medium.text-3xl.max-w-2-3.text-center Welcome to Urban Insight
      p.leading-relaxed.my-4.max-w-2-3.text-center Join our community of real estate investors and gain access to powerful tools that will help you boost your portfolio!
    .group.p-6.mt-4.w-full.rounded-3xl.bg-white.border.border-gray-100.bg-opacity-50.shadow-2xl(
      class="sm:mt-0 sm:p-8 md:w-1/2 shadow-gray-600/10"
    )
      h2.text-2xl.font-semibold.text-gray-800 Sign Up
      .relative.mb-4
        form.form--sign-up
          .form__group.relative.mb-4
            label.form__label.leading-7.text-sm.mt-6.mb-8.text-gray-600(
              for="first-name"
            ) First Name
            input#first-name.form__input.w-full.bg-white.rounded.border.border-gray-300.text-base.outline-none.py-1.px-3.leading-8.transition-colors.duration-200.ease-in-out(
              type="text",
              placeholder="First Name",
              required
            )
          .form__group.relative.mb-4
            label.form__label.leading-7.text-sm.mt-6.mb-8.text-gray-600(
              for="last-name"
            ) Last Name
            input#last-name.form__input.w-full.bg-white.rounded.border.border-gray-300.text-base.outline-none.py-1.px-3.leading-8.transition-colors.duration-200.ease-in-out(
              type="text",
              placeholder="Last Name",
              required
            )
          .form__group.relative.mb-4
            label.form__label.leading-7.text-sm.mt-6.mb-8.text-gray-600(
              for="email"
            ) Email
            input#email.form__input.w-full.bg-white.rounded.border.border-gray-300.text-base.outline-none.py-1.px-3.leading-8.transition-colors.duration-200.ease-in-out(
              type="text",
              placeholder="Email",
              required
            )
          .form__group.relative.mb-4
            label.form__label.leading-7.text-sm.mt-6.mb-8.text-gray-600(
              for="password"
            ) Password
            input#password.form__input.w-full.bg-white.rounded.border.border-gray-300.text-base.outline-none.py-1.px-3.leading-8.transition-colors.duration-200.ease-in-out(
              type="password",
              placeholder="Password",
              required
            )
          .form__group.relative.mb-4
            label.form__label.leading-7.text-sm.mt-6.mb-8.text-gray-600(
              for="password"
            ) Password
            input#passwordConfirmed.form__input.w-full.bg-white.rounded.border.border-gray-300.text-base.outline-none.py-1.px-3.leading-8.transition-colors.duration-200.ease-in-out(
              type="password",
              placeholder="Password",
              required
            )
          .form__group.relative.mb-4
            button.relative.flex.h-11.w-full.items-center.justify-center.px-6(
              class="before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95"
            ) 
              span.relative.text-base.font-semibold.text-white Register
