doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(
      name="description",
      content="Calculate ROI on potential properties with Urban Insight Inc."
    )
    meta(
      name="keywords",
      content="ROI calculation, real estate, property investment, SaaS"
    )
    meta(name="author", content="Urban Insight Inc.")
    meta(
      property="og:title",
      content="Urban Insight Inc. - Calculate ROI on Potential Properties"
    )
    meta(
      property="og:description",
      content="Calculate ROI on potential properties with Urban Insight Inc."
    )
    meta(
      property="og:image",
      content="https://www.urbaninsightinc.com/images/urban-insight.png"
    )
    meta(property="og:url", content="https://www.urbaninsightinc.com")
    meta(property="og:type", content="website")
    meta(name="twitter:card", content="summary_large_image")
    meta(
      name="twitter:title",
      content="Urban Insight Inc. - Calculate ROI on Potential Properties"
    )
    meta(
      name="twitter:description",
      content="Calculate ROI on potential properties with Urban Insight Inc."
    )
    meta(
      name="twitter:image",
      content="https://www.urbaninsightinc.com/images/urban-insight.png"
    )
    meta(name="twitter:site", content="@urbaninsight")
    meta(name="twitter:creator", content="@yourusername")
    link(
      rel="shortcut icon",
      href="/img/favicon/favicon.ico",
      type="image/x-icon"
    )
    link(
      rel="stylesheet",
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,700,900"
    )
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css",
      rel="stylesheet"
    )
    link(rel="stylesheet", href="/css/style.css")
    title Urban Insight Inc. | #{ title }

  body.bg-gray-100.body-font.relative.text-gray-700.font-normal.text-base.leading-default
  
    .absolute.w-full.bg-gradient-to-tl.from-blue-500.to-violet-500.min-h-35-screen

    // SIDE BAR
    include _sidebar

    main.relative.h-full.max-h-screen.transition-all.duration-200.ease-in-out.rounded-xl.ps.ps--active-y(class='xl:ml-60')
        // HEADER
        include ../_header  

        // CONTENT
        block content
            h1 This is a placeholder heading

        // FOOTER
        include ../_footer

    script(src="/js/bundle.js")
